<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSpend"
        tools:targetApi="31">
        <activity
            android:name=".admin.CreateUserActivity"
            android:exported="false"
            android:label="@string/title_activity_create_user"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".admin.AdminDashbordActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_dashbord"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".BudgetSetActivity"
            android:exported="false"
            android:label="@string/title_activity_budget_set"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".AccountSetActivity"
            android:exported="false"
            android:label="@string/title_activity_account_set"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".LoginScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".Screens.screencomponents.Transferctivity"
            android:exported="false"
            android:label="@string/title_activity_transferctivity"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".Screens.home.DashbordActivity"
            android:exported="false"
            android:label="@string/title_activity_dashbord"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".Screens.home.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".Screens.home.SetingActivity"
            android:exported="false"
            android:label="@string/title_activity_seting"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".Screens.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".LandingActivity"
            android:exported="false"
            android:label="@string/title_activity_landing"
            android:theme="@style/Theme.SmartSpend" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartSpend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>